{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Handi | Feed</title>
		<link rel="stylesheet" href="{% static 'handiApp/style.css' %}">
		<link rel="stylesheet" href="{% static 'handiApp/bootstrap.css' %}">
	</head>
	<body>
		<div class="container">
			<div class="row header-home">
				<a href="{% url 'handiApp:home' %}"><img width=80px src="{% static 'handiApp/photos/handiLogo.png' %}"></a>
				<h1>Mentor Request Form</h1>
			</div>
			<div>
				<a href="{% url 'handiApp:account' %}">
				    <div class="nav-item dashboard-item" style="margin-bottom:20px;">
					    Back
				    </div>
				</a>
				<form method='POST' action='' class="form uniForm">
				{% csrf_token %}
					<input type="submit" name="Submit Request" value="Submit Request" class="btn btn-primary"/>
				</form>
				{% for message in messages %}
				    <p class="alert">{{ message }}</p>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
